
.icon-dog:before { content: '\e800'; } /* '' */
.icon-menu-1:before { content: '\e801'; } /* '' */
.icon-close:before { content: '\e802'; } /* '' */
.icon-mail:before { content: '\e803'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-android:before { content: '\f17b'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
